.teclado {
  width: 200;
  height: 150;
}
.tablet {
  width: 200;
  height: 150;
}
.mario {
  width: 200;
  height: 150;
}
.foto de ejemplo03 {
  width: 200;
  height: 150;
}
.foto de ejemplo04 {
  width: 200;
  height: 150;
}
.foto de ejemplo05 {
  width: 200;
  height: 150;
}
.foto de ejemplo06 {
  width: 200;
  height: 150;
}
