.img {
  width: 200;
  height: 150;
}
.img2 {
  width: 200;
  height: 150;
}
.img3 {
  width: 200;
  height: 150;
}
.img4 {
  width: 200;
  height: 150;
}
.img5 {
  width: 200;
  height: 150;
}
.img6 {
  width: 200;
  height: 150;
}
.img7 {
  width: 200;
  height: 150;
}
